<%= render 'layouts/mainmenu' %>
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
        <h1>Расписание экскурсий</h1>
        <table class="table table-hover table-bordered">
          <tr>
            <th>Название</th>
            <th>Дата</th>
            <th>Количество мест</th>
            <th>Стоимость, р</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <% @shedules.each do |shedule| %>
            <tr>
              <td><%= shedule.tour.title %></td>
              <td><%= shedule.datetimetour %></td>
              <td><%= shedule.countplace %></td>
              <td><%= shedule.tourcost %></td>
              <td><%= link_to 'Показать', shedule_path(shedule) %></td>
              <td><%= link_to 'Редактировать', edit_shedule_path(shedule) %></td>
              <td><%= link_to 'Удалить', shedule_path(shedule),
                              method: :delete,
                              data: {confirm: 'Вы уверены?'} %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
    </div>
  </div>
</div>