<%= render 'layouts/mainmenu' %>
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
        <h1>Название экскурсии:
          <%= @shedule.tour.title  %>
        </h1>
        <p>Стоимость экскурсии, р:
          <%= @shedule.tourcost %>
        </p>
        <p>
          <strong>Количество мест:</strong>
          <%= @shedule.countplace%>
        </p>
        <%= link_to 'Редактировать', edit_shedule_path(@shedule) %> |
        <%= link_to 'К расписанию', shedules_path %>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
    </div>
  </div>
</div>