<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">TourAgency</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a href="../default/">Default</a></li>
            <li class="divider"></li>
            <li><a href="../cerulean/">Cerulean</a></li>
            <li><a href="../cosmo/">Cosmo</a></li>
            <li><a href="../cyborg/">Cyborg</a></li>
            <li><a href="../darkly/">Darkly</a></li>
            <li><a href="../flatly/">Flatly</a></li>
            <li><a href="../journal/">Journal</a></li>
            <li><a href="../lumen/">Lumen</a></li>
            <li><a href="../paper/">Paper</a></li>
            <li><a href="../readable/">Readable</a></li>
            <li><a href="../sandstone/">Sandstone</a></li>
            <li><a href="../simplex/">Simplex</a></li>
            <li><a href="../slate/">Slate</a></li>
            <li><a href="../spacelab/">Spacelab</a></li>
            <li><a href="../superhero/">Superhero</a></li>
            <li><a href="../united/">United</a></li>
            <li><a href="../yeti/">Yeti</a></li>
          </ul>
        </li>
        <li>
          <a href="../help/">Help</a>
        </li>
        <li>
          <a href="http://news.bootswatch.com">Blog</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Simplex
            <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a href="https://jsfiddle.net/bootswatch/3he50zsf/">Open Sandbox</a></li>
            <li class="divider"></li>
            <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
            <li><a href="./bootstrap.css">bootstrap.css</a></li>
            <li class="divider"></li>
            <li><a href="./variables.less">variables.less</a></li>
            <li><a href="./bootswatch.less">bootswatch.less</a></li>
            <li class="divider"></li>
            <li><a href="./_variables.scss">_variables.scss</a></li>
            <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
        <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
      </ul>

    </div>
  </div>
</div>
<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Simplex</h1>
        <p class="lead">Mini and minimalist</p>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-6">
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Добавить экскурсию</h1>
    <%#= form_with scope: :tour, local: true do |form| %>
    <%= form_with scope: :tour, url: tours_path, local: true do |form| %>

      <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description %><br>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.submit :class => "btn btn-primary" %>
      </div>
    <% end %>
    <%= link_to 'К списку экскурсий', tours_path %>

  </div>
</div>