<%= render 'layouts/mainmenu' %>
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
        <h1>Название экскурсии:
          <%= @tour.title %>
        </h1>
        <p>
          <strong>Описание экскурсии:</strong>
          <%= @tour.description.html_safe %>
        </p>
        <%= link_to 'Редактировать', edit_tour_path(@tour) %> |
        <%= link_to 'К списку экскурсий', tours_path %>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
    </div>
  </div>
</div>