<!DOCTYPE html>
<html>
<head>
  <title>TourAgency</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Custom styles for this template -->
  <link href="https://bootswatch.com/3/assets/css/custom.min.css">
</head>
<body>
<%= yield %>
</body>
</html>
